In [143]:
# import pandas as pd
import seaborn as sns
# get_ipython().run_line_magic('pylab', 'inline')
# pd.set_option('display.max_columns',None)
# pd.options.display.max_seq_items = 2000
# pd.set_option('display.height', 1000)
# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)
import requests, re
import pandas as pd
import seaborn as sns
import os
import nltk
import string, itertools
from collections import Counter, defaultdict
from nltk.text import Text
from nltk.probability import FreqDist
from nltk.tokenize import word_tokenize, sent_tokenize, regexp_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
# from gensim.corpora.dictionary import Dictionary
# from gensim.models.tfidfmodel import TfidfModel
from sklearn.cluster import KMeans
# from wordcloud import WordCloud
import json
from pandas.io.json import json_normalize
from sqlalchemy import create_engine

In [146]:
#%%
#Lisa added for posgres connection
engine = create_engine('postgresql+psycopg2://postgres:password@localhost/Yelp_db')

 ### Clean Yelp_business dataset

In [2]:
with open(f'dataset/business.json', mode='r', encoding="utf8") as file:
    yelp_source = [json.loads(line) for line in file]

In [55]:
business = pd.DataFrame(yelp_source)
business.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,FYWN1wneV18bWNgQjJ2GNg,Dental by Design,,"4855 E Warner Rd, Ste B9",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,"{'AcceptsInsurance': True, 'ByAppointmentOnly'...","[Dentists, General Dentistry, Health & Medical...","{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0..."
1,He-G7vWjzVUysIKrfNbPUQ,Stephen Szabo Salon,,3101 Washington Rd,McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,"{'BusinessParking': {'garage': False, 'street'...","[Hair Stylists, Hair Salons, Men's Hair Salons...","{'Monday': '9:00-20:00', 'Tuesday': '9:00-20:0..."
2,KQPW8lFf1y5BT2MxiSZ3QA,Western Motor Vehicle,,"6025 N 27th Ave, Ste 1",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,{},"[Departments of Motor Vehicles, Public Service...",{}
3,8DShNS-LuFqpEWIp0HxijA,Sports Authority,,"5000 Arizona Mills Cr, Ste 435",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,"{'BusinessAcceptsCreditCards': True, 'Restaura...","[Sporting Goods, Shopping]","{'Monday': '10:00-21:00', 'Tuesday': '10:00-21..."
4,PfOCPjBrlQAnz__NXj9h_w,Brick House Tavern + Tap,,581 Howe Ave,Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...","[American (New), Nightlife, Bars, Sandwiches, ...","{'Monday': '11:00-1:00', 'Tuesday': '11:00-1:0..."

In [56]:
## drop unuseful column 'neighborhood' 
business.drop(['neighborhood'], axis=1, inplace=True)

## remove quotation marks in name and address column
business.name=business.name.str.replace('"','')
business.address=business.address.str.replace('"','')

## filter restaurants of US
# states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
#           "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
#           "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
#           "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
#           "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

states = ["AZ"]
usa=business.loc[business['state'].isin(states)]
usa.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,FYWN1wneV18bWNgQjJ2GNg,Dental by Design,"4855 E Warner Rd, Ste B9",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,"{'AcceptsInsurance': True, 'ByAppointmentOnly'...","[Dentists, General Dentistry, Health & Medical...","{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0..."
2,KQPW8lFf1y5BT2MxiSZ3QA,Western Motor Vehicle,"6025 N 27th Ave, Ste 1",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,{},"[Departments of Motor Vehicles, Public Service...",{}
3,8DShNS-LuFqpEWIp0HxijA,Sports Authority,"5000 Arizona Mills Cr, Ste 435",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,"{'BusinessAcceptsCreditCards': True, 'Restaura...","[Sporting Goods, Shopping]","{'Monday': '10:00-21:00', 'Tuesday': '10:00-21..."
11,Y0eMNa5C-YU1RQOZf9XvVA,CubeSmart Self Storage,2414 South Gilbert Road,Chandler,AZ,85286,33.271720,-111.791257,5.0,23,1,{'BusinessAcceptsCreditCards': True},"[Local Services, Self Storage]","{'Monday': '9:30-18:00', 'Tuesday': '9:30-18:0..."
16,IQSlT5jGE6CCDhSG0zG3xg,T & Y Nail Spa,"8411 W Thunderbird Rd, Unit 101",Peoria,AZ,85381,33.608654,-112.240012,3.0,20,1,"{'BusinessParking': {'garage': False, 'street'...","[Beauty & Spas, Nail Salons]","{'Monday': '9:00-19:00', 'Tuesday': '9:00-19:0..."

In [5]:
#usa = usa.head(n=200)

In [57]:
## select all restaurants in USA
usa['category'] = usa['categories'].apply(lambda x: ','.join(map(str, x)))
usa.head()

C:\Users\knush\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,category
0,FYWN1wneV18bWNgQjJ2GNg,Dental by Design,"4855 E Warner Rd, Ste B9",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,"{'AcceptsInsurance': True, 'ByAppointmentOnly'...","[Dentists, General Dentistry, Health & Medical...","{'Friday': '7:30-17:00', 'Tuesday': '7:30-17:0...","Dentists,General Dentistry,Health & Medical,Or..."
2,KQPW8lFf1y5BT2MxiSZ3QA,Western Motor Vehicle,"6025 N 27th Ave, Ste 1",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,{},"[Departments of Motor Vehicles, Public Service...",{},"Departments of Motor Vehicles,Public Services ..."
3,8DShNS-LuFqpEWIp0HxijA,Sports Authority,"5000 Arizona Mills Cr, Ste 435",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,"{'BusinessAcceptsCreditCards': True, 'Restaura...","[Sporting Goods, Shopping]","{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...","Sporting Goods,Shopping"
11,Y0eMNa5C-YU1RQOZf9XvVA,CubeSmart Self Storage,2414 South Gilbert Road,Chandler,AZ,85286,33.271720,-111.791257,5.0,23,1,{'BusinessAcceptsCreditCards': True},"[Local Services, Self Storage]","{'Monday': '9:30-18:00', 'Tuesday': '9:30-18:0...","Local Services,Self Storage"
16,IQSlT5jGE6CCDhSG0zG3xg,T & Y Nail Spa,"8411 W Thunderbird Rd, Unit 101",Peoria,AZ,85381,33.608654,-112.240012,3.0,20,1,"{'BusinessParking': {'garage': False, 'street'...","[Beauty & Spas, Nail Salons]","{'Monday': '9:00-19:00', 'Tuesday': '9:00-19:0...","Beauty & Spas,Nail Salons"

In [58]:
us_restaurants=usa[usa['category'].str.contains('Restaurants')]
us_restaurants.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,category
45,rDMptJYWtnMhpQu_rRXHng,McDonald's,719 E Thunderbird Rd,Phoenix,AZ,85022,33.607070,-112.064382,1.0,10,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Fast Food, Burgers, Restaurants]",{},"Fast Food,Burgers,Restaurants"
46,1WBkAuQg81kokZIPMpn9Zg,Charr An American Burger Bar,"777 E Thunderbird Rd, Ste 107",Phoenix,AZ,85022,33.607310,-112.063404,3.0,232,1,"{'RestaurantsTableService': True, 'GoodForMeal...","[Burgers, Restaurants]","{'Monday': '11:00-22:00', 'Tuesday': '11:00-22...","Burgers,Restaurants"
72,iPa__LOhse-hobC2Xmp-Kw,McDonald's,1635 E Camelback Rd,Phoenix,AZ,85016,33.508765,-112.046240,3.0,34,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Restaurants, Burgers, Fast Food]","{'Monday': '5:00-23:00', 'Tuesday': '5:00-23:0...","Restaurants,Burgers,Fast Food"
80,kKx8iCJkomVQBdWHnmmOiA,Little Caesars Pizza,10720 E Southern Ave,Mesa,AZ,85209,33.394877,-111.600194,2.5,4,1,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Restaurants, Pizza]",{},"Restaurants,Pizza"
88,YhV93k9uiMdr3FlV4FHjwA,Caviness Studio,,Phoenix,AZ,85001,33.449967,-112.070222,5.0,4,1,"{'BusinessAcceptsCreditCards': True, 'Business...","[Marketing, Men's Clothing, Restaurants, Graph...","{'Monday': '8:00-17:00', 'Tuesday': '8:00-17:0...","Marketing,Men's Clothing,Restaurants,Graphic D..."

In [59]:
## select out 16 cuisine types of restaurants and rename the category
us_restaurants.is_copy=False
#us_restaurants['category']=pd.Series()

In [60]:
column_values = us_restaurants[["category"]].values.ravel()
unique_values =  pd.unique(column_values)
print(unique_values)

['Fast Food,Burgers,Restaurants' 'Burgers,Restaurants'
 'Restaurants,Burgers,Fast Food' ...
 'Food,Mexican,Restaurants,Specialty Food'
 'Salad,Food,Beer,Wine & Spirits,Restaurants,Mexican'
 'Pizza,Event Planning & Services,Italian,Caterers,Restaurants']

In [61]:
us_restaurants.loc[us_restaurants.category.str.contains('American'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Mexican'), 'category'] = 'Mexican'
us_restaurants.loc[us_restaurants.category.str.contains('Italian'), 'category'] = 'Italian'
us_restaurants.loc[us_restaurants.category.str.contains('Japanese'), 'category'] = 'Japanese'
us_restaurants.loc[us_restaurants.category.str.contains('Chinese'), 'category'] = 'Chinese'
us_restaurants.loc[us_restaurants.category.str.contains('Thai'), 'category'] = 'Thai'
us_restaurants.loc[us_restaurants.category.str.contains('Mediterranean'), 'category'] = 'Mediterranean'
us_restaurants.loc[us_restaurants.category.str.contains('French'), 'category'] = 'French'
us_restaurants.loc[us_restaurants.category.str.contains('Vietnamese'), 'category'] = 'Vietnamese'
us_restaurants.loc[us_restaurants.category.str.contains('Greek'),'category'] = 'Greek'
us_restaurants.loc[us_restaurants.category.str.contains('Indian'),'category'] = 'Indian'
us_restaurants.loc[us_restaurants.category.str.contains('Korean'),'category'] = 'Korean'
us_restaurants.loc[us_restaurants.category.str.contains('Hawaiian'),'category'] = 'Hawaiian'
us_restaurants.loc[us_restaurants.category.str.contains('African'),'category'] = 'African'
us_restaurants.loc[us_restaurants.category.str.contains('Spanish'),'category'] = 'Spanish'
us_restaurants.loc[us_restaurants.category.str.contains('Middle_eastern'),'category'] = 'Middle_eastern'
us_restaurants.loc[us_restaurants.category.str.contains('Fast Food'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Burgers'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Pizza'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Seafood'),'category'] = 'SeaFood'
us_restaurants.loc[us_restaurants.category.str.contains('Food Stands'),'category'] = 'Food Stands'
us_restaurants.loc[us_restaurants.category.str.contains('Barbeque'),'category'] = 'American'

us_restaurants.loc[us_restaurants.category.str.contains('Sandwiches'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Breakfast & Brunch'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Juice Bars'),'category'] = 'Juice Bars & Smoothies'
us_restaurants.loc[us_restaurants.category.str.contains('Bars'),'category'] = 'Bars'
us_restaurants.loc[us_restaurants.category.str.contains('Desserts'),'category'] = 'Desserts'
us_restaurants.loc[us_restaurants.category.str.contains('Asian Fusion'),'category'] = 'Asian Fusion'
us_restaurants.loc[us_restaurants.category.str.contains('Cafes'),'category'] = 'Cafes'
us_restaurants.loc[us_restaurants.category.str.contains('Delis'),'category'] = 'Delis'
us_restaurants.loc[us_restaurants.category.str.contains('Buffets'),'category'] = 'Buffets'
us_restaurants.loc[us_restaurants.category.str.contains('Hot Dogs'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Sushi Bars'),'category'] = 'SeaFood'
us_restaurants.loc[us_restaurants.category.str.contains('Steakhouses'),'category'] = 'American'
us_restaurants.loc[us_restaurants.category.str.contains('Desserts'),'category'] = 'Desserts'
us_restaurants.loc[us_restaurants.category.str.contains('Desserts'),'category'] = 'Desserts'

#us_restaurants.category[:20]
us_restaurants.head()

C:\Users\knush\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,category
45,rDMptJYWtnMhpQu_rRXHng,McDonald's,719 E Thunderbird Rd,Phoenix,AZ,85022,33.607070,-112.064382,1.0,10,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Fast Food, Burgers, Restaurants]",{},American
46,1WBkAuQg81kokZIPMpn9Zg,Charr An American Burger Bar,"777 E Thunderbird Rd, Ste 107",Phoenix,AZ,85022,33.607310,-112.063404,3.0,232,1,"{'RestaurantsTableService': True, 'GoodForMeal...","[Burgers, Restaurants]","{'Monday': '11:00-22:00', 'Tuesday': '11:00-22...",American
72,iPa__LOhse-hobC2Xmp-Kw,McDonald's,1635 E Camelback Rd,Phoenix,AZ,85016,33.508765,-112.046240,3.0,34,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Restaurants, Burgers, Fast Food]","{'Monday': '5:00-23:00', 'Tuesday': '5:00-23:0...",American
80,kKx8iCJkomVQBdWHnmmOiA,Little Caesars Pizza,10720 E Southern Ave,Mesa,AZ,85209,33.394877,-111.600194,2.5,4,1,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Restaurants, Pizza]",{},American
88,YhV93k9uiMdr3FlV4FHjwA,Caviness Studio,,Phoenix,AZ,85001,33.449967,-112.070222,5.0,4,1,"{'BusinessAcceptsCreditCards': True, 'Business...","[Marketing, Men's Clothing, Restaurants, Graph...","{'Monday': '8:00-17:00', 'Tuesday': '8:00-17:0...",American

In [11]:
#us_restaurants.to_csv('us_restaurants.csv')

In [62]:
#length of unique values for ciry
len(us_restaurants['city'].unique())

44

In [63]:
# Count unique city values
us_restaurants['city'].value_counts()

Phoenix                 3647
Scottsdale              1451
Mesa                    1119
Tempe                    962
Chandler                 818
Glendale                 666
Gilbert                  524
Peoria                   341
Surprise                 207
Avondale                 170
Goodyear                 167
Cave Creek                84
Fountain Hills            78
Sun City                  45
Litchfield Park           45
Laveen                    34
Tolleson                  32
Paradise Valley           29
Carefree                  26
El Mirage                 24
MESA                      20
Anthem                    18
San Tan Valley            15
Sun City West             14
Sun Lakes                  9
Youngtown                  9
Fort McDowell              6
Higley                     6
Guadalupe                  6
Ahwatukee                  5
Laveen Village             4
Roosevelt                  3
Scottdale                  2
Pheonix                    2
Mesa AZ                    1
Phoenix Valley             1
Central City Village       1
Central City               1
Pheonix AZ                 1
Waddell                    1
Phx                        1
Gelndale                   1
Glendale Az                1
Schottsdale                1
Name: city, dtype: int64

In [64]:
#Filter values for only Phoenix city
city = ['Phoenix']
us_restaurants = us_restaurants[us_restaurants['city'].isin(city)]
us_restaurants.head(n=20)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,category
45,rDMptJYWtnMhpQu_rRXHng,McDonald's,719 E Thunderbird Rd,Phoenix,AZ,85022,33.607070,-112.064382,1.0,10,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Fast Food, Burgers, Restaurants]",{},American
46,1WBkAuQg81kokZIPMpn9Zg,Charr An American Burger Bar,"777 E Thunderbird Rd, Ste 107",Phoenix,AZ,85022,33.607310,-112.063404,3.0,232,1,"{'RestaurantsTableService': True, 'GoodForMeal...","[Burgers, Restaurants]","{'Monday': '11:00-22:00', 'Tuesday': '11:00-22...",American
72,iPa__LOhse-hobC2Xmp-Kw,McDonald's,1635 E Camelback Rd,Phoenix,AZ,85016,33.508765,-112.046240,3.0,34,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Restaurants, Burgers, Fast Food]","{'Monday': '5:00-23:00', 'Tuesday': '5:00-23:0...",American
88,YhV93k9uiMdr3FlV4FHjwA,Caviness Studio,,Phoenix,AZ,85001,33.449967,-112.070222,5.0,4,1,"{'BusinessAcceptsCreditCards': True, 'Business...","[Marketing, Men's Clothing, Restaurants, Graph...","{'Monday': '8:00-17:00', 'Tuesday': '8:00-17:0...",American
107,QkG3KUXwqZBW18A9k1xqCA,Red Lobster,2810 North 75th Ave,Phoenix,AZ,85035,33.478735,-112.221379,2.5,37,1,"{'RestaurantsTableService': True, 'GoodForMeal...","[American (Traditional), Restaurants, Seafood]","{'Monday': '11:00-22:00', 'Tuesday': '11:00-22...",American
120,5XejqzaFmtkZMstJS5Iy-w,D'Lish Cafe,503 W Thomas Rd,Phoenix,AZ,85013,33.480301,-112.080586,4.0,37,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Vegan, American (New), Restaurants, Sandwiche...","{'Monday': '10:00-15:00', 'Tuesday': '10:00-15...",American
180,2v-8QQfMLX2PCz-0S6gISQ,Papa John's Pizza,3441 W Northern Ave,Phoenix,AZ,85051,33.552870,-112.133712,2.5,7,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Pizza, Restaurants, Fast Food]","{'Monday': '10:30-0:00', 'Tuesday': '10:30-0:0...",American
191,M3uV9Y3EDSpy9d4YwyNSAQ,Yakiramen,10605 N 43rd Ave,Phoenix,AZ,85029,33.582363,-112.149884,4.0,66,1,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Nightlife, Japanese, Music Venues, Ramen, Art...","{'Tuesday': '16:00-23:00', 'Friday': '16:00-0:...",Japanese
271,U1ZVgF-kfkvv_rcoe0RglQ,Pho Noodles,3417 N 7th Ave,Phoenix,AZ,85013,33.488760,-112.082402,4.5,172,1,"{'RestaurantsTableService': True, 'GoodForMeal...","[Restaurants, Noodles, Vietnamese]","{'Monday': '9:00-20:30', 'Tuesday': '9:00-20:3...",Vietnamese
272,FfI9FOaQqzUxixw6_glt3Q,Affinito's Bistro,"3655 W Anthem Way, Ste C-137",Phoenix,AZ,85086,33.864964,-112.138820,3.0,6,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Restaurants, Italian]","{'Tuesday': '16:00-21:00', 'Friday': '11:00-22...",Italian
273,3b4efqz06QrLQ_w2xLc4pA,Olive Garden Italian Restaurant,10223 N Metro Parkway E,Phoenix,AZ,85051,33.580302,-112.119653,3.0,40,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Restaurants, Italian]",{},Italian
288,irYAkavSVtIEyGOsHK-yPw,Palette,1625 N Central Ave,Phoenix,AZ,85004,33.466732,-112.072723,3.5,43,1,"{'RestaurantsTableService': True, 'GoodForMeal...","[Event Planning & Services, American (New), Sa...","{'Tuesday': '11:00-15:30', 'Friday': '11:00-15...",American
335,_eKvk2GoGKb3CoYolHgRlg,Fresko A Mediterranean Kitchen,5033 E Elliot Rd,Phoenix,AZ,85044,33.347893,-111.976822,4.5,88,1,"{'Alcohol': 'none', 'HasTV': False, 'NoiseLeve...","[Greek, Vegetarian, Sandwiches, Mediterranean,...","{'Monday': '11:00-20:00', 'Tuesday': '11:00-20...",Mediterranean
392,qB15WElGAlI_eGWjn0kT2w,Taco Bell,15240 N. 32nd Street,Phoenix,AZ,85032,33.625900,-112.013600,2.0,18,1,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Tex-Mex, Fast Food, Restaurants, Mexican]","{'Monday': '7:00-0:00', 'Tuesday': '7:00-0:00'...",Mexican
402,rSCevr5tQJTxPzMIq3n5Gw,Yoshi's Asian Grill,3800 E Sky Harbor Blvd,Phoenix,AZ,85034,33.435621,-112.009546,2.5,14,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","[Restaurants, Asian Fusion]",{},Asian Fusion
478,to2cGMKdaw7ZHbXMzpfhlA,Filiberto's Mexican Rest,3218 E Mcdowell Rd,Phoenix,AZ,85008,33.466011,-112.012334,3.0,7,0,"{'BusinessAcceptsCreditCards': True, 'GoodForM...","[Restaurants, Mexican]","{'Monday': '0:00-0:00', 'Tuesday': '0:00-0:00'...",Mexican
481,X2oxkKB-wlu8xV0P8fbfiQ,Mo's Chicken,3505 W Thomas Rd,Phoenix,AZ,85019,33.480049,-112.134702,3.0,10,1,"{'Alcohol': 'beer_and_wine', 'HasTV': True, 'G...","[Restaurants, Chicken Shop]","{'Monday': '10:00-21:30', 'Tuesday': '10:00-21...","Restaurants,Chicken Shop"
827,vhKUBKcOm8zOLxeS3XM9iA,Rosati's Pizza,"4010 E Bell Rd, Ste 101",Phoenix,AZ,85032,33.641847,-111.995571,3.0,67,1,"{'RestaurantsTableService': True, 'GoodForMeal...","[Restaurants, Pizza]","{'Monday': '11:00-21:00', 'Tuesday': '11:00-21...",American
831,frCxZS7lPhEnQRJ3UY6m7A,La Santisima,1919 N 16th St,Phoenix,AZ,85006,33.469201,-112.047393,4.0,1694,1,"{'Alcohol': 'full_bar', 'HasTV': False, 'Noise...","[Vegetarian, Nightlife, Mexican, Bars, Vegan, ...","{'Monday': '8:00-21:00', 'Tuesday': '8:00-21:0...",Mexican
888,l0WauZ92kRg9bu2oxHj4TQ,Aiello's East Coast Italian,"777 E Thunderbird Rd, Ste 100",Phoenix,AZ,85022,33.607105,-112.063427,4.0,130,1,"{'RestaurantsTableService': False, 'GoodForMea...","[Restaurants, Italian]","{'Monday': '11:00-21:00', 'Tuesday': '11:00-21...",Italian

In [73]:
# Create businesses dataframe to import to posgres
businesses = us_restaurants.filter(['business_id', 'name'], axis=1)
businesses.head()

                business_id                          name
45   rDMptJYWtnMhpQu_rRXHng                    McDonald's
46   1WBkAuQg81kokZIPMpn9Zg  Charr An American Burger Bar
72   iPa__LOhse-hobC2Xmp-Kw                    McDonald's
88   YhV93k9uiMdr3FlV4FHjwA               Caviness Studio
107  QkG3KUXwqZBW18A9k1xqCA                   Red Lobster

In [152]:
# Create business_info dataframe to import to posgres
business_info = us_restaurants.filter(['business_id', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'review_count', 'category', 'stars'], axis=1)
business_info.head()

,business_id,address,city,state,postal_code,latitude,longitude,review_count,category,stars
45,rDMptJYWtnMhpQu_rRXHng,719 E Thunderbird Rd,Phoenix,AZ,85022,33.607070,-112.064382,10,American,1.0
46,1WBkAuQg81kokZIPMpn9Zg,"777 E Thunderbird Rd, Ste 107",Phoenix,AZ,85022,33.607310,-112.063404,232,American,3.0
72,iPa__LOhse-hobC2Xmp-Kw,1635 E Camelback Rd,Phoenix,AZ,85016,33.508765,-112.046240,34,American,3.0
88,YhV93k9uiMdr3FlV4FHjwA,,Phoenix,AZ,85001,33.449967,-112.070222,4,American,5.0
107,QkG3KUXwqZBW18A9k1xqCA,2810 North 75th Ave,Phoenix,AZ,85035,33.478735,-112.221379,37,American,2.5

In [77]:
## Business Review Prepocessing

In [78]:
#Import Business review JSON file
file_dir = 'C:/Users/knush/GitRepository/Class_Practice/FinalProject/dataset/'
f'{file_dir}review.json'

'C:/Users/knush/GitRepository/Class_Practice/FinalProject/dataset/review.json'

In [79]:
# Open business JSON file
with open(f'{file_dir}review.json', mode='r', encoding="utf8", errors='ignore') as f:
    reviews_data = [json.loads(line) for line in f]

In [81]:
# Import to dataframe
reviews_df = pd.DataFrame(reviews_data)
reviews_df.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,v0i_UHJMo_hPBq9bxWvW4w,bv2nCi5Qv5vroFiqKGopiw,0W4lkclzZThpx3V65bVgig,5,2016-05-28,"Love the staff, love the meat, love the place....",0,0,0
1,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
2,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
3,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
4,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0

In [82]:
#Count the rows
reviews_df.count()

review_id      5261669
user_id        5261669
business_id    5261669
stars          5261669
date           5261669
text           5261669
useful         5261669
funny          5261669
cool           5261669
dtype: int64

In [138]:
# Merge/Combine the reveiw_df and us_restaurants datas into a single dataset.
business_reviews = pd.merge(reviews_df, business_info, on=["business_id", "business_id"])
business_reviews.head()

,review_id,user_id,business_id,stars_x,date,text,useful,funny,cool,address,city,state,postal_code,latitude,longitude,review_count,category,stars_y
0,BF0ANB54sc_f-3_howQBCg,ssuXFjkH4neiBgwv-oN4IA,JlNeaOymdVbE6_bubqjohg,1,2014-08-09,We always go to the chevo's in chandler which ...,3,0,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,-111.991401,103,Mexican,3.5
1,-QgtOpsFzLHd58-Y1Ao2tA,BPKpLbR9NuWFAR9SUWpZOw,JlNeaOymdVbE6_bubqjohg,5,2014-06-29,Great grilled chicken burrito which believe it...,0,0,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,-111.991401,103,Mexican,3.5
2,zdhN3MBABBKi-9QHAh-G1A,sg5q7rz2_7PfaN-6JnLb5g,JlNeaOymdVbE6_bubqjohg,5,2014-05-01,Everything I've had so far has been great. Not...,1,0,1,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,-111.991401,103,Mexican,3.5
3,hDA5kQatTsfKK8MZtDYPIg,I-W_at9CPQox-t0xGveymw,JlNeaOymdVbE6_bubqjohg,4,2015-11-26,Cheap prices and good food. I was able to run...,0,0,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,-111.991401,103,Mexican,3.5
4,ID4PLigp4LYSpV0OiNmKHA,jFTfEhwPuBsWXydhcEbqAQ,JlNeaOymdVbE6_bubqjohg,1,2014-04-24,Can't describe how bad this place is...was hop...,6,1,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,-111.991401,103,Mexican,3.5

In [125]:
# Row counts
business_reviews.count()

review_id       331400
user_id         331400
business_id     331400
stars_x         331400
date            331400
text            331400
useful          331400
funny           331400
cool            331400
address         331400
city            331400
state           331400
postal_code     331400
latitude        331400
review_count    331400
category        331400
stars_y         331400
dtype: int64

In [126]:
# drop null values
business_reviews.dropna()

,review_id,user_id,business_id,stars_x,date,text,useful,funny,cool,address,city,state,postal_code,latitude,review_count,category,stars_y
0,BF0ANB54sc_f-3_howQBCg,ssuXFjkH4neiBgwv-oN4IA,JlNeaOymdVbE6_bubqjohg,1,2014-08-09,We always go to the chevo's in chandler which ...,3,0,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,103,Mexican,3.5
1,-QgtOpsFzLHd58-Y1Ao2tA,BPKpLbR9NuWFAR9SUWpZOw,JlNeaOymdVbE6_bubqjohg,5,2014-06-29,Great grilled chicken burrito which believe it...,0,0,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,103,Mexican,3.5
2,zdhN3MBABBKi-9QHAh-G1A,sg5q7rz2_7PfaN-6JnLb5g,JlNeaOymdVbE6_bubqjohg,5,2014-05-01,Everything I've had so far has been great. Not...,1,0,1,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,103,Mexican,3.5
3,hDA5kQatTsfKK8MZtDYPIg,I-W_at9CPQox-t0xGveymw,JlNeaOymdVbE6_bubqjohg,4,2015-11-26,Cheap prices and good food. I was able to run...,0,0,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,103,Mexican,3.5
4,ID4PLigp4LYSpV0OiNmKHA,jFTfEhwPuBsWXydhcEbqAQ,JlNeaOymdVbE6_bubqjohg,1,2014-04-24,Can't describe how bad this place is...was hop...,6,1,0,"4302 E Ray Rd, Ste 114",Phoenix,AZ,85044,33.320441,103,Mexican,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331395,RVF_rn_g_tx4P_75dIgnZQ,zlFj4sJmPwzS1WdEB0FnFQ,SuwhEmo9wE4Tis4i3Sg4Kw,5,2017-03-14,Fast and friendly employees! Great location an...,2,2,4,"21001 N Tatum Blvd, Ste 36-1190",Phoenix,AZ,85050,33.676354,4,American,3.0
331396,TFHz77_vqI6A2aS3abJm8g,rSq798QriA6dXz1VbYCPwQ,SuwhEmo9wE4Tis4i3Sg4Kw,2,2017-07-22,Horrible unwelcoming remodel. Very awkward too...,0,0,0,"21001 N Tatum Blvd, Ste 36-1190",Phoenix,AZ,85050,33.676354,4,American,3.0
331397,qsMkjOccbNCgTPUYaieXrA,_17xI4kvAvtW66M7EDtePw,4dZ1OXJFADBrgN1850WGRQ,5,2013-07-03,"Lydia and her team were so wonderful, we loved...",1,0,0,,Phoenix,AZ,85029,33.541839,3,Food Stands,5.0
331398,pDgm_KE9nQShZG04vascMA,dakloMvy_Uoudgav0Fo4Bw,4dZ1OXJFADBrgN1850WGRQ,5,2013-06-22,Johnnie's Java is the best Coffee Catering com...,1,0,1,,Phoenix,AZ,85029,33.541839,3,Food Stands,5.0
331399,yPnEX9DDkuFlydMAyRuBjQ,iujD_B3F0RJtkPptOpqNEQ,4dZ1OXJFADBrgN1850WGRQ,5,2017-05-23,Excellent service & quality is what you can ex...,0,0,0,,Phoenix,AZ,85029,33.541839,3,Food Stands,5.0

In [127]:
#rename start columns
business_reviews.rename(columns={"stars_x": "review_star", "stars_y": "restaurant_star"}, inplace = True)

In [128]:
# Row counts
business_reviews.count()

review_id          331400
user_id            331400
business_id        331400
review_star        331400
date               331400
text               331400
useful             331400
funny              331400
cool               331400
address            331400
city               331400
state              331400
postal_code        331400
latitude           331400
review_count       331400
category           331400
restaurant_star    331400
dtype: int64

In [129]:
# Category counts
categoryCounts=business_reviews.category.value_counts()
categoryCounts

American                                                             172640
Mexican                                                               48188
Italian                                                               34872
Chinese                                                               12051
Japanese                                                              12048
                                                                      ...
Cajun/Creole,Convenience Stores,Restaurants,Chicken Shop,Food             3
Hair Salons,Barbers,Caribbean,Beauty & Spas,Restaurants,Dominican         3
Specialty Food,Restaurants,Food,Cheesesteaks                              3
Fish & Chips,Restaurants                                                  3
Restaurants,Kosher                                                        3
Name: category, Length: 131, dtype: int64

In [130]:
business_reviews.columns

Index(['review_id', 'user_id', 'business_id', 'review_star', 'date', 'text',
       'useful', 'funny', 'cool', 'address', 'city', 'state', 'postal_code',
       'latitude', 'review_count', 'category', 'restaurant_star'],
      dtype='object')

In [141]:
# Create a dataframe needed for Machine Learning model to import to posgres
mlbusiness_reviews = business_reviews.filter(['review_id', 'business_id', 'city', 'state', 'postal_code', 'useful', 'category', 'review_star'], axis=1)
mlbusiness_reviews.head()

,review_id,business_id,city,state,postal_code,useful,category
0,BF0ANB54sc_f-3_howQBCg,JlNeaOymdVbE6_bubqjohg,Phoenix,AZ,85044,3,Mexican
1,-QgtOpsFzLHd58-Y1Ao2tA,JlNeaOymdVbE6_bubqjohg,Phoenix,AZ,85044,0,Mexican
2,zdhN3MBABBKi-9QHAh-G1A,JlNeaOymdVbE6_bubqjohg,Phoenix,AZ,85044,1,Mexican
3,hDA5kQatTsfKK8MZtDYPIg,JlNeaOymdVbE6_bubqjohg,Phoenix,AZ,85044,0,Mexican
4,ID4PLigp4LYSpV0OiNmKHA,JlNeaOymdVbE6_bubqjohg,Phoenix,AZ,85044,6,Mexican

In [134]:
mlbusiness_reviews.count()

city           331400
state          331400
postal_code    331400
useful         331400
category       331400
review_star    331400
dtype: int64

In [140]:
# Create business_reviews dataframe to import to posgres
buss_reviews = business_reviews.filter(['review_id', 'user_id', 'business_id', 'review_star', 'date', 'text', 'useful', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'category'], axis=1)
buss_reviews.head()

,review_id,user_id,business_id,date,text,useful,city,state,postal_code,latitude,longitude,category
0,BF0ANB54sc_f-3_howQBCg,ssuXFjkH4neiBgwv-oN4IA,JlNeaOymdVbE6_bubqjohg,2014-08-09,We always go to the chevo's in chandler which ...,3,Phoenix,AZ,85044,33.320441,-111.991401,Mexican
1,-QgtOpsFzLHd58-Y1Ao2tA,BPKpLbR9NuWFAR9SUWpZOw,JlNeaOymdVbE6_bubqjohg,2014-06-29,Great grilled chicken burrito which believe it...,0,Phoenix,AZ,85044,33.320441,-111.991401,Mexican
2,zdhN3MBABBKi-9QHAh-G1A,sg5q7rz2_7PfaN-6JnLb5g,JlNeaOymdVbE6_bubqjohg,2014-05-01,Everything I've had so far has been great. Not...,1,Phoenix,AZ,85044,33.320441,-111.991401,Mexican
3,hDA5kQatTsfKK8MZtDYPIg,I-W_at9CPQox-t0xGveymw,JlNeaOymdVbE6_bubqjohg,2015-11-26,Cheap prices and good food. I was able to run...,0,Phoenix,AZ,85044,33.320441,-111.991401,Mexican
4,ID4PLigp4LYSpV0OiNmKHA,jFTfEhwPuBsWXydhcEbqAQ,JlNeaOymdVbE6_bubqjohg,2014-04-24,Can't describe how bad this place is...was hop...,6,Phoenix,AZ,85044,33.320441,-111.991401,Mexican

In [149]:
# export the dataframe into posgres

#businesses
businesses.to_sql(name='businesses', con=engine, if_exists='replace' ,index=False)

#business_info
business_info.to_sql(name='business_info', con=engine, if_exists='replace' ,index=False)

#buss_reviews
buss_reviews.to_sql(name='buss_reviews', con=engine, if_exists='replace' ,index=False)

#MLbusiness_reviews
mlbusiness_reviews.to_sql(name='mlbusiness_reviews', con=engine, if_exists='replace' ,index=False)